@font-face {
    font-family: 'chunkfiveroman';
    src: url('chunkfive-webfont.eot');
    src: url('chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('chunkfive-webfont.woff2') format('woff2'),
         url('chunkfive-webfont.woff') format('woff'),
         url('chunkfive-webfont.ttf') format('truetype'),
         url('chunkfive-webfont.svg#chunkfiveroman') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
  margin: 0 auto;
  background: url('../img/congruent_outline.png');
}
.container{
  width:800px;
  margin: 0 auto;
}
h1{
  height: 100px;
  line-height: 100px;
  text-align: center;
  margin-top: 75px;
  color: #FFFFFF;
  font-size: 2em;
  font-family: 'chunkfiveroman',sans-serif;
  font-weight: 300;
}
p{
  font-family:sans-serif;
  margin-bottom: 20px;
  color: #FFFFFF;
  width: 500px;
}
p:first-child{
  margin-top: 45px;
}
input{
  width: 500px;
  height: 90px;
  margin-left: 150px;
  font-size: 2em;
  font-family: sans-serif;
}
button{
  width: 150px;
  height: 50px;
  margin-top: 100px;
  font-size: 1.5em;
  margin-left: 40%;
  color: #FFFFFF;
  background-color: #344036;
  border-radius: 5px;
  border: 2px solid #697F6C;
}
.instruction{
  width: 350px;
  margin-left: 29.7%;
  font-size: 1.1em;
  font-family: sans-serif;
  font-weight: 100;
  margin-bottom: 15px;
  color: #FFFFFF;
}
.result{
  font-family:sans-serif;
  margin-bottom: 20px;
  margin-left: 150px;
}
.chrono{
  width: 800px;
  color: #FFFFFF;
  font-size: 3em;
  font-family: sans-serif;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
}
.ciao{
  font-size: 3em;
  text-align: center;
}
#score{
  font-size: 1.5em;
  text-align: center;
}
